@font-face {
  font-family: CustomFont;
  src: url("./fonts/BentonSans-Regular.otf");
}

html: {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #010c43;
  color: #fff;
  font-family: CustomFont;
  line-height: 1.5;
}

.fixed-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel {
  position: relative;
  overflow: hidden;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
}

.carousel.active {
  cursor: grabbing;
}

.carousel .inner {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: fit-content;
  height: inherit;
  transition: left 0.3s ease;
}

.carousel.active .inner {
  transition: none;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel-center {
  width: 84px;
  height: 84px;
  border: 8px solid #fff;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
}

.carousel-inner {
  /* position: absolute; */
  /* top: -15px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* width: 500px; */
  will-change: transform;
}

.carousel .inner .slide {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background-color: #fff; */
  margin-left: 10px;
  margin-right: 10px;
}

.carousel .inner .slide.active {
  margin-left: 24px;
  margin-right: 24px;
  width: 80px;
  height: 80px;
}

.toolbar-photo {
  overflow: hidden;
  border: 2px solid white;
  -webkit-touch-callout: none; /* Safari Touch */
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge*/
  user-select: none; /* Future-proof*/
}
.toolbar-photo.active {
  background-color: #010c43;
}
.toolbar-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  border: 0px;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.loading-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #013369;
  border-radius: 50%;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #013369 transparent transparent transparent;
}
.loading-ring.inverted div {
  border-color: #fff transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-progress-bar {
  width: 0%;
  background: rgb(0 98 209 / 1);
  height: 100%;
  transition: width 5s ease-out;
}
